<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Occupations</title>
  </head>
  <body>
    <Strong> Randomly Chosen Occupation: {{randomOccupation}} </Strong>
    <br>
    <br>
    Table of occupations and their percentages
    <table>
      <tr>
        <th>{{h1}}</th>
        <th>{{h2}}</th>
      </tr>
      {% for key in occupationsData %}
      <tr>
        <td>{{key}}</td>
        <td>{{occupationsData[key]}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
