<!-- 31YHWQTWUpAhvwiZvXegOzVSmQ6u084ploE74SxV -->

<!DOCTYPE html>
<html>
  <title></title>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0/dist/css/foundation.min.css">
    <link rel="icon" type="image/png" href="https://api.nasa.gov/images/logo.png">
  </head>
  <body>
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
           <div class="large-12 cell">
             <h1></h1>
           </div>
        </div>
        <br>


        <div class="cell large-6 medium-9 small-3">
          <p>{{items}}</p>
          <img src={{image}} alt="comic"/>
        </div>
      </div>



    </div>
  </body>
</html>
