<!-- 31YHWQTWUpAhvwiZvXegOzVSmQ6u084ploE74SxV -->

<!DOCTYPE html>
<html>
  <title>{{title}} | {{version}}</title>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0/dist/css/foundation.min.css">
    <link rel="icon" type="image/png" href="https://api.nasa.gov/images/logo.png">
  </head>
  <body>
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
           <div class="large-12 cell">
             <h1>{{ title }}</h1>
           </div>
        </div>
        <br>

        <div class="grid-x grid-padding-x">
          <div class="cell large-6 medium-9 small-3">
            <p>{{explanation}}</p>
            <p style="font-size:small">Media Type: {{media_type}}
          </div>
        </div>

        <div class="responsive-embed">
          <iframe width="420" height="315" src={{video}} frameborder="0" allowfullscreen></iframe>
        </div>

    </div>
  </body>
</html>
